@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    color: #fff;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #201b2c;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3vw;
    color: #77ffc0;
}

img{
    width: 35vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > span {
    color: #00ff88;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.75rem;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 15px;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
}

.textfield > input::placeholder {
    color: #f0ffff94;
}

button {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

button:hover{
    color: #f0ffffde;
    background: #2b134b;
    box-shadow: 0px 10px 40px #00000056;
}
